<?xml version="1.0"?>
<sdf version="1.5">
  <model name="labyrinth_wall">
    <pose>0 0 0 0 0 0</pose>
    <link name="link">
      <inertial>
        <mass>3.0</mass>
      </inertial>
      <collision name="collision">
        <geometry>
          <box>
            <size>0.180 0.180 0.050</size>
          </box>
        </geometry>
      </collision>
      <visual name="visual">
        <geometry>
          <box>
            <size>0.180 0.180 0.050</size>
          </box>
        </geometry>
      </visual>
    </link>
    <static>true</static>
  </model>
</sdf>