<?xml version="1.0"?>
<launch>
  <arg name="paused" default="false"/>
  <arg name="gui" default="true"/>
  <arg name="rviz" default="true"/>
  <arg name="robot" default="mouse_lidar"/>
  <arg name="new_maze" default="false"/>

  <!-- Generate maze file -->
  <group if="$(arg new_maze)">
    <node name="random_maze" pkg="maze_generator" type="generate_maze"/>
  </group>
  
  <!-- Begin simulated world -->
  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="world_name" default="$(find maze_generator)/world/kruscal_maze.world"/>
    <arg name="paused" value="$(arg paused)"/>
    <arg name="gui" value="$(arg gui)"/>
  </include>

  <param name="robot_description" command="$(find xacro)/xacro '$(find maze_generator)/urdf/$(arg robot).xacro'"/>

  <!-- Spawn robot model in Gazebo -->
  <node name="spawn_gazebo_model" pkg="gazebo_ros" type="spawn_model" 
        args="-urdf -param robot_description -model mouse -x 1 -y 1 -z 1"
        output="screen"/>

  <!-- Joint state publisher -->
  <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher">
    <param name="use_gui" value="False"/>
  </node>

  <!-- Robot state publisher -->
  <node pkg="robot_state_publisher" type="robot_state_publisher" name="robot_state_publisher">
    <param name="robot_description" value="robot_description"/>
    <param name="publish_frequency" type="double" value="50.0"/>
    <param name="tf_prefix" type="string" value=""/>
  </node>

  <!-- RViz visualization -->
  <group if="$(arg rviz)">
    <node name="rviz" pkg="rviz" type="rviz" args="-d $(find maze_generator)/config/$(arg robot).rviz" required="true" />
  </group>
</launch>